*{
    background-color: rgb(102, 102, 102);
    margin: 0%;
    padding: 0%;
}

nav
{
     background-color: rgb(121, 121, 121);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
a{
    text-decoration: none;
    color: white;
}